.keypad_container{
    background-color: var(--toggle-keypad-bg);
    padding: 25px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: var(--main-keypad-btn);
    font-size: 32px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 
    0px 1px 1px var(--main-keypad-btn-shadow),
    0px 2px 2px var(--main-keypad-btn-shadow),
    0px 3px 3px var(--main-keypad-btn-shadow);
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 55px;
    min-width: 55px;
    &:active{
        transform: scale(0.95);
        box-shadow: 
        0px 1px 1px var(--main-keypad-btn-shadow);
    }
}

.del_reset_btn{
    background-color: var(--del-reset-btn);
    box-shadow: 
    0px 1px 1px var(--del-reset-btn-shadow),
    0px 2px 2px var(--del-reset-btn-shadow),
    0px 3px 3px var(--del-reset-btn-shadow);
    color: var(--secondary);
    font-size: 20px;
    &:hover{
        filter: brightness(1.5)
    }
}

.equal_btn{
    background-color: var(--toggle-equal-btn);
    box-shadow: 
    0px 1px 1px var(--toggle-equal-btn-shadow),
    0px 2px 2px var(--toggle-equal-btn-shadow),
    0px 3px 3px var(--toggle-equal-btn-shadow);
    color: var(--tertiary);
    font-size: 20px;
    &:hover{
        filter: brightness(1.5)
    }
}

.span_2{
    grid-column: span 2;
}

@media (min-width: 550px) {
    .keypad_container{
    
        gap: 20px;
    }
    .btn {
        min-height: 45px;
        min-width: 95px;
    }
  }